/**
Website: Practical Test - CAIXA Apps
Description: CAIXA Apps responsible website
Author: Matheus Ximenes
Author URL: https://br.linkedin.com/in/matheusximenes
Tags: Sass, Responsible, Mixins, Atomic Design, Mobile First
*/
/*
 Atoms
*/
button {
  border: 0px; }

ul {
  padding-left: 0px; }

li {
  list-style: none; }

a {
  color: #fff;
  text-decoration: none; }

input[type=text],
input[type=text]::placeholder,
input[type=password],
select,
textarea {
  font-family: "Segoe UI", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1rem;
  color: #fff;
  padding: 5px 0;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-bottom: 5px; }

body {
  font-family: "Segoe UI", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #016db8;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#016db8), to(#0191d4));
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #016db8, #0191d4);
  /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #016db8, #0191d4);
  /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #016db8, #0191d4);
  /* IE 10 */
  background: -o-linear-gradient(top, #016db8, #0191d4);
  /* Opera 11.10+ */ }

/* Auxiliar Classes */
.img-responsible-height, .apps-list .app-front .app-img img {
  width: 100%;
  height: auto; }

.img-responsible-width, .hero-display .app-img-display img {
  width: auto;
  height: 100%; }

.margin-auto {
  margin: 0 auto; }

.container {
  margin: 0 4%; }

.padding-default, .main-header i, .footer .other-products-list, .footer .contacts-list {
  padding: 10px 5%; }

.padding-default-small, .main-header .main-nav li, .breadcrumb i {
  padding: 5px 5%; }

@media screen and (min-width: 680px) {
  /* Flex Classes */
  .row {
    display: flex; }

  .row .colunm {
    flex: 1; }

  .flex-end {
    justify-content: flex-end; } }
/** Main Classes **/
.btn-caixa {
  width: 100%;
  padding: 15px 10%;
  background: #f98f14;
  color: #fff;
  margin-bottom: 20px; }

.btn-material-d {
  width: 100%;
  padding: 15px 10%;
  background: #f98f14;
  color: #fff;
  margin-bottom: 20px; }

/****************** Header ******************/
.main-header {
  text-align: center; }

.main-header .main-logo {
  width: 200px;
  margin: 10px auto; }

.main-header i {
  display: block;
  background-color: #fff;
  color: #f98f14; }

.main-header .main-nav ul {
  padding-bottom: 20px; }

.main-header .main-nav li {
  border-bottom: 1px solid #fff; }

.main-header .main-nav li:last-child {
  border-bottom: 3px solid #fff; }

.breadcrumb {
  margin-bottom: 30px;
  text-align: center; }

.breadcrumb h1 {
  font-size: 1rem;
  margin: 0 2%; }

.breadcrumb i {
  display: block;
  color: #f98f14;
  font-size: 0.8rem; }

.hero-display {
  background-color: #fff;
  padding: 10px 4% 20px 4%;
  color: #016db8;
  text-align: center;
  margin-bottom: 30px; }

.hero-display h2 {
  line-height: 1.3rem;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #f8a23d; }

.hero-display span {
  color: #f8a23d;
  font-size: .8rem;
  display: block; }

.hero-display .app-img-display {
  border: 1px solid #ccc;
  width: 100%;
  height: 500px;
  overflow: hidden;
  text-align: center; }

.hero-display .app-img-display img:last-child {
  display: none; }

/* Apps List */
.apps-list .app-front {
  background-color: #1893b2;
  padding: 0 2% 10px 2%;
  margin-bottom: 20px;
  border: 1px solid #fff; }

.apps-list .app-front h2 {
  background-color: #fff;
  color: #016db8;
  padding: 10px 0;
  margin-left: -2%;
  font-size: 0.8rem;
  width: 92%;
  position: absolute;
  text-align: center; }

.apps-list .app-front .app-img {
  margin-top: 50px;
  width: 100%;
  height: 220px;
  overflow: hidden;
  text-align: center; }

.apps-list .app-back {
  display: none; }

.footer {
  background-color: #016db8;
  border: 1px solid #fff;
  border: 1px 0px; }

.footer h2 {
  font-size: 1.1rem; }

.footer .other-products-list {
  text-align: center; }

.footer .contacts-list {
  text-align: center; }

.footer .other-products-list li h3, .footer .contacts-list h3 {
  color: #f8a23d;
  font-size: 1.1rem;
  margin: 0px; }

.footer .other-products-list li p, .footer .contacts-list p {
  margin: 5px 0px 20px 0px; }

.footer .min-logo {
  background-color: #1893b2;
  border-top: 1px solid #fff;
  text-align: center; }

/* Medium */
@media screen and (min-width: 680px) and (max-width: 1024px) {
  /* Header */
  .main-header .btn-caixa {
    width: auto; }

  .main-header .main-logo {
    position: absolute;
    top: 0px; }

  .main-header i.fa-bars {
    display: none; }

  .main-header i.fa-search {
    color: #fff;
    background-color: transparent;
    padding-top: 0; }

  .main-header .main-nav ul {
    display: flex;
    width: 100%; }

  .main-header .main-nav ul li {
    border: 0px;
    padding: 0 2%; }

  .main-header .main-nav ul li:last-child {
    border: 0px; }

  /*Breadcrumb */
  .breadcrumb {
    text-align: left; }

  .breadcrumb i {
    display: inline;
    padding: 5px 2%;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(90deg);
    transform: rotate(90deg); }

  .breadcrumb h1 {
    display: inline;
    margin: 0px; }

  /* Hero Display */
  .hero-display {
    padding: 20px 2%; }

  .hero-display h2 {
    margin-top: 50px; }

  .hero-display li {
    padding-bottom: 10px; }

  .hero-display .column {
    width: 50%;
    margin-right: 2%; }

  .hero-display .column .btn-caixa {
    margin-top: 184px;
    margin-bottom: 0px; }

  .hero-display .column:last-child {
    width: 50%;
    margin-right: 0%; }

  /* Search Apps*/
  .search-apps {
    display: flex; }

  .search-apps input[type=text] {
    border: 0px; }

  .search-apps .btn-material-d {
    background-color: #016db8;
    width: 45px;
    height: 45px;
    padding: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; }

  .search-apps .btn-material-d i {
    display: block;
    color: #fff; }

  .search-apps .btn-material-d span {
    display: none; }

  /* AppList */
  .apps-list {
    display: flex; }

  .apps-list .app-itens {
    Width: 50%;
    margin-right: 2%; } }
/* Larger */

/*# sourceMappingURL=stylesheet.css.map */
