/****************** Header ******************/
.main-header {text-align: center;}
.main-header .main-logo {width:200px; margin-left: -1%;}
.main-header i {display:block; @extend .padding-default; background-color: $color-white; color:$color-orange-dark;}
.main-header .main-nav {width:98%;}
.main-header .main-nav ul {padding-bottom:$margin-bottom-medium;}
.main-header .main-nav li {border-bottom:1px solid $color-white; flex:1; @extend .padding-default-small;}
.main-header .main-nav li:last-child {border-bottom:3px solid $color-white;}

.breadcrumb {margin-bottom:30px; text-align: center;}
.breadcrumb h1 {font-size: 1rem; margin:0 2%;}
.breadcrumb i {display: block; color:$color-orange-dark; font-size: $font-size-small; @extend .padding-default-small;}

.hero-display {background-color: $color-white; padding:10px 4% 20px 4%; color:$color-blue-dark; text-align: center; margin-bottom:$margin-bottom-large;}
.hero-display h2 {line-height: 1.3rem; padding-bottom: 15px; margin-bottom:$margin-bottom-smaller; border-bottom:1px solid $color-orange-light; }
.hero-display span {color:$color-orange-light; font-size:.8rem; display: block;}
.hero-display .app-img-display {width:100%; height: 500px; overflow: hidden; text-align: center;}
.hero-display .app-img-display img {@extend .img-responsible-width;}
.hero-display .app-img-display img:last-child {display:none;}

/* Apps List */
.apps-list .app-front {background-color: $color-blue-green; padding:0 2% 10px 2%; margin-bottom:$margin-bottom-medium; border:1px solid $color-white; max-width:380px;}
.apps-list .app-front h2 {background-color: $color-white; color:$color-blue-dark; padding:10px 0; font-size:$font-size-larger; width:92%; text-align: center;}
.apps-list .app-front .app-img {margin-top:50px; width:100%; height: 160px; overflow: hidden; text-align: center;}
.apps-list .app-front .app-img img {@extend .img-responsible-height;}
.apps-list .app-back {display: none;}

.footer {background-color: $color-blue-dark; border:1px solid $color-white; border-width:1px 0 1px 0;}
.footer h2 {font-size: 1.1rem; text-align: center;}
.footer .other-products-list { @extend .padding-default; text-align: center;}
.footer .contacts-list {@extend .padding-default; text-align: center;}
.footer .other-products-list li h3, .footer .contacts-list h3 {color:$color-orange-light; font-size: 1.1rem; margin:0px;}
.footer .other-products-list li p, .footer .contacts-list p {margin: 5px 0px 20px 0px;}
.footer .min-logo {background-color: $color-blue-green; text-align: center; border-top:1px solid $color-white;}


/* Small - Breakpoint */
@media screen and (min-width: $screen-small) {
    .apps-list {display:flex; flex-wrap:wrap; justify-content:center; margin:20px 0px 40px 0px;}
    .apps-list .app-front {max-width:275px; padding:0px; margin:20px 20px 0px 0px;}
    .apps-list .app-front h2 {width:275px;} 
}


/* Medium - Breakpoint */
@media screen and (min-width: $screen-medium) {
    
    

    /* Header */
    .main-header .btn-caixa {width:auto;}
    .main-header .main-logo { position:absolute; top:0px; }
    .main-header i.fa-bars {display:none;}
    .main-header i.fa-search {color:$color-white; background-color: transparent; padding-top:0; }
    .main-header .main-nav ul {display:flex; width:100%;}
    .main-header .main-nav ul li {border:0px; padding:0 2%;}
    .main-header .main-nav ul li:last-child {border:0px;}
    
    /*Breadcrumb */
    .breadcrumb {text-align: left;}
    .breadcrumb i {display:inline; padding:5px 2%;}
    .breadcrumb i.fa-chevron-down:before {@include rotate(-90deg);}
    .breadcrumb h1 {display:inline; margin: 0px;}

    /* Hero Display */
    .hero-display {padding:20px 2%;}
    .hero-display h2 {margin-top:50px;}
    .hero-display li {padding-bottom:10px;}
    .hero-display .app-img-display { border-width:0;}
    .hero-display .column {width:50%; margin-right:2%;}
    .hero-display .column .btn-caixa {margin-top:184px; margin-bottom: 0px;}
    .hero-display .column:last-child {width:50%; margin-right:0%;}
    
    /* Search Apps*/
    .search-apps {display:flex;}
    .search-apps input[type=text] {border:0px;}
    .search-apps .btn-material-d {background-color: $color-blue-dark; width:45px; height:45px; padding:15px; @include border-radius(30px);}
    .search-apps .btn-material-d i {display:block; color:$color-white;}
    .search-apps .btn-material-d span {display:none;}

    
}

/* Larger - Breakpoint */
@media screen and (min-width: $screen-larger) {
    
    /* Header */
    .main-header .nav-logo {display: flex;}

    /* Hero Display */
    .hero-display h2 {margin-top:50px; line-height: 1.6rem; font-size: $font-size-largest;}
    .hero-display li {padding-bottom:10px; font-size: $font-size-larger;}
    .hero-display .column .btn-caixa {margin-top:151px; margin-bottom: 0px;}

    /* NewsLetter */
    .newsletter-apps {display: flex;}
    .newsletter-apps input[type=text] {border:0px;}
    .newsletter-apps .btn-caixa {width:250px; margin-left: 10px; padding-left:0px; padding-right:0px;}

    /* Footer */
    .footer h2 {text-align: left;}
    .footer .other-products-list ul {padding:0px;}
    .footer .other-products-list, .footer .contacts-list  {display: flex; justify-content: space-between; text-align: left; padding:0px;}
    .footer .other-products-list li, .footer .contacts-list li {margin-right: 20px;}
    .footer .contacts-list {justify-content: flex-start;}
}

/* Largest - Breakpoint */
@media screen and (min-width: $screen-largest) {

    /* Header */
    .main-header .nav-logo {display: flex;}
    .main-header .main-logo { flex:3; position:relative; top:-20px; flex-shrink: 0;}
    .main-header nav ul {justify-content: flex-start; margin-bottom:0;}
    .main-header nav ul li:nth-child(1), .main-header nav ul li:nth-child(2), .main-header nav ul li:nth-child(3)  {flex:2;}
    .main-header .main-logo img {flex-basis:250px; height:60px;}
    
    /* Class Container */
    .container {margin:0 auto; max-width:$screen-largest;}
    
    /* Hero Display */
    .hero-display .app-img-display {display: flex; justify-content: space-between;}
    .hero-display .app-img-display img:last-child {display:block; margin-left:10px;}

    
}