/* Auxiliar Classes */

.img-responsible-height { width: 100%; height: auto;}
.img-responsible-width {width: auto; height: 100%;}
.margin-auto {margin:0 auto;}
.container {margin:0 4%;}
.padding-default {padding:10px 5%;}
.padding-default-small {padding:5px 5%;}

@media screen and (min-width: 680px){
/* Flex Classes */
.row {display:flex;}
.row .colunm {flex:1;}
.flex-end {justify-content: flex-end;}
}

/** Main Classes **/
.btn-caixa {width:100%; padding:15px 10%; background: $color-orange-dark; color: $color-white; margin-bottom: $margin-bottom-medium;}
.btn-material-d {width:100%; padding:15px 10%; background: $color-orange-dark; color: $color-white; margin-bottom: $margin-bottom-medium;}

/* Main Classes */
.current {border-bottom:3px solid $color-orange-dark !important;}
.min-logo img {widows: 200px;}
